.drink-view
  padding 24px 24px 16px

.drink-view form
  font-size 2em
  margin-bottom 40px

.drink-view form label
  border 0

.drink-view select
  font-size 1.4em
  color rgba(0, 0, 0, 0.73)

.drink-view input
  font-size .7em

.drink-view .input-label
  color rgba(0, 0, 0, 0.372)
  font-size 1.4em
  padding-left 0

.drink-view-btn 
  margin 6px 8px
  color #2AE7A8
  font-size 1.4em

.drink-view md-input-group
  padding-left 16px
.drink-view md-input-group.md-input-focused label
  color #2AE7A8