<!-- <ion-header-bar class="menu-bg">
  <div class="buttons">
  
  <h1 class="title">Orders</h1>
  
  </div>
</ion-header-bar> -->

<ion-content>
  <div class="orderContainer" layout="row" layout-margin layout-fill layout-wrap layout-padding>
    <md-card class="orderCard" ng-repeat="order in orders" layout="column" layout-align="center">
      <div class="customerInfo">

        <div class="customerFace">
          <img alt="" src="http://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg">
        </div>
        <span>{{order.customer.name}}'s Order</span>
      </div>

      <div class="orderInfo">

        <div class="slideBoxContainer" ng-init="orderIndex=$index">

          <ion-slide-box active-slide="order.status" show-pager="false" on-slide-changed="changeStatus(orderIndex, $index)">
            <ion-slide class="statusSlide inProgress">
            <div class='red statusBox'>
              <span>Processing</span>
            </div>
              <table>
                <tr ng-repeat="drink in order.drinks">
                  <td class="drinkName">{{drink.name}}</td>
                  <td class="drinkQuantity">{{drink.quantity}}</td>
                </tr>
              </table>
            </ion-slide>
            <ion-slide class="statusSlide pickUp">
            <div class='orange statusBox'>
              <span>Pick Up</span>
            </div>
              <table>
                <tr ng-repeat="drink in order.drinks">
                  <td class="drinkName">{{drink.name}}</td>
                  <td class="drinkQuantity">{{drink.quantity}}</td>
                </tr>
              </table>
            </ion-slide>
            <ion-slide class="statusSlide redeemed">
            <div class='green statusBox'>
              <span>Complete</span>
            </div>
              <table>
                <tr ng-repeat="drink in order.drinks">
                  <td class="drinkName">{{drink.name}}</td>
                  <td class="drinkQuantity">{{drink.quantity}}</td>
                </tr>
              </table>
            </ion-slide>
          </ion-slide-box>

          <div class="additionalActions">
            <md-button class="md-fab" aria-label="">
              <span><i class="icon ion-arrow-expand"></i></span>
            </md-button>
            <md-button class="md-fab" aria-label="">
              <span><i class="icon ion-close-circled"></i></span>
            </md-button>
          </div>
          
        </div>
      </div>
    </md-card>
  </div>
</ion-content>

  