.orderContainer
  margin-top 30px
  margin-left 20px

.orderCard
  width 330px
  margin-bottom 15px
  border-radius 3px !important
  text-align center
  padding 0px !important
  height 100% !important

.orderCard .customerInfo
  align-self start
  padding 10px
  width 100%
  margin auto
  margin-top 0 !important
  margin-bottom 0 !important
  font-size 1.5em
  height 70px
  background-color rgb(228,32,18)
  border-top-left-radius 3px
  border-top-right-radius 3px

.orderCard .customerFace
  position relative
  z-index 1
  top -0px
  left -0px
  width 100px
  height 100px
  border 5px solid white
  border-radius 100px

.orderCard .customerFace img
  max-width 100%
  max-height 100%
  border-radius 50%

.orderCard .customerInfo span
  position relative
  top -85px
  left 40px
  text-align right
  color white
  font-weight bolder
  font-size 1.1em

.orderCard .statusSlide
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px

.orderCard .inProgress
  background-color #FFF2F2

.orderCard .pickUp
  background-color #FFFFE0

.orderCard .redeemed
  background #E6E6E6

.orderCard .orderInfo
  width 100%

.orderCard table
  width 80%
  margin auto
  margin-top 30px
  margin-bottom 10px
  font-size 1.5em
  verticle-align middle

.orderCard span
  font-size 1.4em
  position relative
  right -10px

.orderCard table td
  height 40px

.orderCard .drinkName
  text-align left

.orderCard .drinkQuantity
  text-align right

.orderCard .slideBoxContainer
  width 100%
  margin auto

.orderCard .slideBoxContainer .box
  padding-top 25px
  padding-bottom 20px
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px

.orderCard .slideBoxContainer .yellow
  border-top 1px solid red
  background-color #FFCCCC

.orderCard .slideBoxContainer .orange
  background-color #FFFFCC

.orderCard .slideBoxContainer .green
  background-color #BCBCBC


