.drink-view
  padding 0 50px 15px

.drink-view form
  font-size 2em
  margin 30px 0 40px 0

.drink-view select
  font-size 1.4em
  color rgba(0, 0, 0, 0.73)

.drink-view input
  font-size .7em

.drink-view .input-label
  color rgba(0, 0, 0, 0.372)
  font-size 1.4em
  padding-left 0

.drink-view-btn 
  width 68px
  margin 5px
  font-size 0.8em

.drink-view md-input-group
  padding-left 16px
