<ion-pane class="drinkMenu-view theme-bg" ng-controller="DrinkMenuCtrl">     
    <ion-content scroll="false">
      <div class="row">
        <div class="col">
          <div>
              <div class='form-bg add-drink-box' layout="row" layout-align="space-between center">
                <div>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Category
                    </div>

                  <select ng-model="drink.category">
                    <option value="{{category}}" ng-repeat="category in categories">{{ category }}</option>
                  </select>
                  </label>
                </div>
                
                <div>          
                  <md-text-float ng-model="drink.name" type="text" label="Drink name">
                </div>
              
                <div>
                  <md-text-float ng-model="drink.price" type="text" label="Price">
                </div>
                
                <div>
                  <md-button class="md-fab icon ion-plus add-btn" ng-click="drinkMenu.addDrink(drink)" aria-label="">
                  <md-tooltip>add a drink</md-tooltip>
                  </md-button>
                </div>
              </div>
            <div layout="row" layout-align='space-between center' class='search-box'>
              <div>
                <h1>Drink Menu</h1>
              </div>
              <div class="list list-inset">
                  <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search a drink" ng-model='searchDrink'>
                  </label>
              </div>
             
            </div>
          </div>
        </div>
      </ion-content>
    </div>
<!-- Menu List -->
    <div class="drink-list row">
      <ion-scroll>
        <ion-list show-delete="opts.showDelete"
                  can-swipe="opts.shouldSwipe"
                  ng-repeat="(category, cate_drinks) in drinks" >
          <ion-item class="item-divider">
            {{category.toUpperCase()}}
          </ion-item>
          <ion-item class='drink-item'
            ng-class='{"last":$last}'
            ng-repeat="drink in cate_drinks | filter:searchDrink">

          <div layout="row">
            <div flex="90" flex-sm="10">{{drink.name}}</div>
            <div flex="10" flex-sm="90">${{drink.price}}</div>
            
          </div>
            <ion-option-button class="button-info"
                  ng-click="drinkMenu.editDrink(drink, $index)">
                Edit
            </ion-option-button>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="drinkMenu.deleteDrink(drink, index)">
            </ion-delete-button>
          </ion-item>
        </ion-list>
  
      </ion-scroll>
    </div>
</ion-pane>
<ion-footer-bar align-title="center" class='bar-assertive'> 
    <button class="button button-icon icon ion-ios7-minus-outline" ng-click="drinkMenu.toggleDelete()">
      <md-tooltip>delete</md-tooltip>
    </button>
</ion-footer-bar>
