.drinkMenu-view
  background-color #261E26

.drinkMenu-view .md-whiteframe-z1
  background-color #fff

.drinkMenu-view ion-item
.drinkMenu-view .item-content 
  border-left 0
  border-right 0
  background-color transparent
  
.drinkMenu-view .item-content
  font-size 1.2em
  color #ccc
  
.drinkMenu-view .item-divider
  font-size 1.4em
  color #fff
  