ion-side-menu ion-item#bar-pic
 padding 0
 border 0
 margin 0
 background-color #383238

.alert *
  color red

.nav-menu ion-content
  background-color #383238

.nav-menu a.item-content
  color #ccc
  background-color transparent
  font-size 1.2em

.nav-menu ion-item
  background-color #383238

.nav-menu ion-item.act
  background-color #4c9689

.nav-menu ion-item.act > a.item-content
  color #fff


.nav-menu ion-item:nth-of-type(2)
  border-top 0
