<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content> 

  <ion-side-menu class='nav-menu' side="left" expose-aside-when="large">
    <ion-content>
      <ion-list class="list">
        <ion-item id='bar-pic' nav-clear>
          <img src='http://upload.wikimedia.org/wikipedia/en/9/97/Liquor_Bottles_on_a_Bar_Wall.JPG' style='width:275px'/>
        </ion-item>
        <ion-item nav-clear href="#/main/orders" ng-click='activateItem(1)' ng-class='active_order'>
          <i class='icon ion-card'></i>
          <span>Orders</span>
        </ion-item>
        <ion-item nav-clear href="#/main/drinkMenu" ng-click='activateItem(2)' ng-class='active_menu'>
          <i class="icon ion-beer"></i>
          <span>Menu</span>
        </ion-item>
        <ion-item nav-clear href="#" ng-click='activateItem(3)' ng-class='active_settings'>
          <i class="icon ion-gear-b"></i>
          <span>Settings</span>
        </ion-item>
        <ion-item nav-clear href="#/auth">
          <i class="icon ion-fireball"></i>
          <span>Sign Out</span>
        </ion-item>
        <!-- Sign Out ion-item should have ng-click="main.signout()"-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
