@import 'main/main'
@import 'main/orders/orders'
@import 'main/drinkMenu/drinkMenu'
@import 'main/drinkMenu/drink/drink'

a 
  text-decoration none

.bar .title
  font-size 1.6em

i.icon
  margin 16px
  font-size 1.3em

.theme-bg
  background-color #9E4E4E

.theme-highlight
  background-color #4c9689

ion-header-bar > .title
  color #fff