menu_bg = #CCD1CD
modal_bar_bg = #8d8d8d
theme_bg = #534C53
theme_highlight = #4c9689

@import 'main/main'
@import 'main/orders/orders'
@import 'main/drinkMenu/drinkMenu'
@import 'main/drinkMenu/drink/drink'
@import 'main/settings/settings'
@import 'auth/auth'

a
  text-decoration none

.bar .title
  font-size 1.6em
  color #fff

ion-header-bar > .title
  color #fff

i.icon
  margin 16px
  font-size 1.3em

.menu-bg
  background-color #CCD1CD

.modal-bar-bg
  background-color #8d8d8d

.theme-bg
  background-color #534C53

.theme-highlight
  background-color #4c9689

.form-bg
  background-color #383238
