ion-item#bar-pic {
  padding: 0;
}
.menu-list {
  overflow: auto;
}
.question {
  margin: 15px;
}
.question h2 {
  text-align: center;
}
.category {
  font-size: 1.6em;
  vertical-align: center;
  padding: 15px;
}
.arrow-icon {
  float: right;
}
a {
  text-decoration: none;
}
