ion-item#bar-pic {
  padding: 0;
}
.orderContainer {
  margin-top: 30px;
  margin-left: 20px;
}
.orderCard {
  width: 330px;
  margin-bottom: 15px;
  border-radius: 19px !important;
  text-align: center;
  padding: 0px !important;
  height: 100% !important;
}
.orderCard .customerInfo {
  align-self: start;
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 1.5em;
  height: 70px;
  background-color: #e42012;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.orderCard .customerFace {
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 100px;
}
.orderCard .customerFace img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.orderCard .customerInfo span {
  position: relative;
  top: -85px;
  left: 40px;
  text-align: right;
  color: #fff;
  font-weight: bolder;
  font-size: 1.1em;
}
.orderCard .statusSlide {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.orderCard .inProgress {
  background-color: #fff2f2;
}
.orderCard .pickUp {
  background-color: #ffffe0;
}
.orderCard .redeemed {
  background: #e6e6e6;
}
.orderCard .orderInfo {
  width: 100%;
}
.orderCard table {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.5em;
  verticle-align: middle;
}
.orderCard table td {
  height: 40px;
}
.orderCard .drinkName {
  text-align: left;
}
.orderCard .drinkQuantity {
  text-align: right;
}
.orderCard .slideBoxContainer {
  width: 100%;
  margin: auto;
}
.orderCard .slideBoxContainer .box {
  border-top: 2px solid #808080;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.orderCard .slideBoxContainer .yellow {
  background-color: #fcc;
}
.orderCard .slideBoxContainer .orange {
  background-color: #ffc;
}
.orderCard .slideBoxContainer .green {
  background-color: #bcbcbc;
}
.question {
  margin: 15px;
}
.question h2 {
  text-align: center;
}
.category {
  font-size: 1.6em;
  vertical-align: center;
  padding: 15px;
}
.arrow-icon {
  float: right;
}
a {
  text-decoration: none;
}
