ion-item#bar-pic {
  padding: 0;
}
.orderContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 15px;
}
.orderCard {
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 340px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  border: 2px solid #808080;
  border-radius: 10px;
  text-align: center;
}
.orderCard .customerInfo {
  padding: 10px;
  border-bottom: 1px solid #808080;
  width: 90%;
  margin: auto;
  font-size: 1.5em;
}
.orderCard .orderInfo {
  width: 100%;
}
.orderCard table {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  verticle-align: middle;
}
.orderCard table td {
  height: 40px;
}
.orderCard .drinkName {
  text-align: left;
}
.orderCard .drinkQuantity {
  text-align: right;
}
.orderCard .slideBoxContainer {
  width: 100%;
  border-top: 2px solid #808080;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ff6347;
}
.orderCard .statusButton {
  width: 80px;
  height: 80px;
  background-color: #ff0;
}
.question {
  margin: 15px;
}
.question h2 {
  text-align: center;
}
.category {
  font-size: 1.6em;
  vertical-align: center;
  padding: 15px;
}
.arrow-icon {
  float: right;
}
a {
  text-decoration: none;
}
